@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is from MVC</p>
    <app-hello-world></app-hello-world>
</div>
<script src="~/js/angular_hello_world.js"></script>
<script src="~/js/angular_common.js"></script>
<link rel="stylesheet" src="/css/angular/styles.css"></link>